<!DOCTYPE html>
<html>

<head>
	<title>Meeting</title>

	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel='stylesheet' href='assets/css/app.css' type="text/css">
	<link rel='stylesheet' href='assets/css/screen.css' type="text/css">
	<link rel='stylesheet' href='assets/css/custom.css' type="text/css">
	<link rel='stylesheet' href='assets/css/whiteboard.css' type="text/css">

</head>

<body>
	<div class="custom-success-toast">
    <div class="custom-toast-header">
      <strong class="mr-auto">Notification</strong>
      <small></small>
    </div>
    <div class="custom-toast-body">
      Create new poll successful
    </div>
  </div>
	<div class="custom-modal" id='recording-options-modal'>
		<div class="custom-modal-content">
			<div class="row text-center">
				<div class="col-md-6 mb-2">
					<span class="record-option" id='record-video'>Record video</span>
				</div>
				<div class="col-md-6 mb-2">
					<span class="record-option" id='record-screen'>Record screen</span>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-md-12 text-center">
					<button class="btn btn-outline-danger" id='closeModal'>Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fuild" id="intro-room">
		<div class="row">
			<div class="col-md-4" style="height: 100vh; position: fixed;">
				<div class="login-wrap">
					<div class="login-html">
						<div class="bar-icon d-flex align-items-center justify-content-center">
							<i class="fas fa-bars"></i>
							<span class="language">ENG</span>
						</div>
						<div class="row" style="margin-top: 50%;">
							<div class="offset-md-9 col-md-3">
								<div class="tabs d-margin">
									<div>
										<a class="tablinks active" href="#"> Create Room</a>
									</div>
									<div>
										<a class="tablinks" href="#"> Join Room</a>
									</div>
								</div>
							</div>
						</div>
						<div class="text-copy">Copyright by CamHuyen</div>
					</div>
				</div>
			</div>
			<div class="offset-md-4 col-md-8">
				<div class="row">
					<div class="offset-md-8 col-md-4 t-margin" style="float: right;">
						<div class="row">
							<div class="col-md-8">
								<div class="name-mail-user">
									<%= user.displayName %>
								</div>
								<input value="<%= user.id %>" hidden id="auth-user-id" />
								<!-- <div class="change-mail-user">
                                    <a href="#" class="link-mail-user">Switch Accounts</a>
                                </div> -->
								<div class="change-mail-user">
									<a href="/auth/logout" class="link-mail-user">Logout</a>
								</div>
							</div>
							<div class="col-md-2 d-flex align-items-center justify-content-center">
								<a href="/profile">
									<img src="<%= user.avatar %>" alt="" class="img-avatar-mail">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row d-flex align-items-center justify-content-center t-margin-main">
					<div class="logo-web">
						<div></div>
						<img class="logo-web-index" src="assets/images/design.jpg" alt="">
					</div>
				</div>
				<div class="row d-flex align-items-center justify-content-center t-margin-main">
					<div class="login-form">
						<div class="tab-content" id="room-create" style="display: none">
							<form class="tabcontent sign-in-htm" id="create-room-form ">
								<div class="col-12 text-center">
									<span class="form-text small text-danger" id='err-msg'></span>
								</div>
								<div class="group">
									<input type="text" id='room-name' class="form-control rounded-0 input-element"
										placeholder="Room's name">
								</div>
								<div class="group">
									<input type="text" value="<%= user.displayName %>" id='your-name'
										class="form-control rounded-0 input-element" placeholder="Display name">
								</div>
								<div class="group mt-5">
									<button id='create-room' class="btn btn-block btn-info">
										Create
									</button>
								</div>
								<div class="hr"></div>
							</form>
						</div>
						<div class="tab-content" id="username-set" style="display: none">
							<form class="tabcontent sign-in-htm" id="join-room-form">
								<div class="col-12 text-center">
									<span class="form-text small text-danger" id='err-msg-username'></span>
								</div>
								<div class="col-12 p-0" style="margin-bottom: 25px;">
									<!-- <label for="username">ID phòng:</label> -->
									<input type="text" id="join-room-input-id" class="form-control rounded-0 input-element"
										placeholder="Room ID">
								</div>
								<div class="col-12 mb-3 p-0">
									<!-- <label for="username">Tên hiển thị:</label> -->
									<input type="text" value="<%= user.displayName %>" id='username' class="form-control input-element"
										placeholder="Display name">
								</div>
								<div class="col-12 mb-3 p-0">
									<!-- <label for="username">Tên hiển thị:</label> -->
									<div id="maximum-error" style="text-align: center; color: red; display: none">This meeting has reached
										a maximum of 100 participants. Please try again later.</div>
								</div>
								<div class="col-12 mb-3 mt-5">
									<button id='enter-room' class="btn btn-block btn-info">
										JOIN
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid room-comm" hidden>
		<div class="row">
			<!-- <video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video> -->
		</div>

		<div class="row h-100">
			<div class="col-md-9 col-md-12 main" id='main-section'>
				<div class="row mt-2 mb-2" id='videos'>
					<div class="card card-sm user-camera">
						<video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video>
						<div class="user-name">You</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 body-interaction close">
				<div class="body-interaction-heading">
					<div class="body-interaction-title">
						Activities
					</div>
					<div class="body-interaction-close-btn">
						<i class="fas fa-times"></i>
					</div>
				</div>
				<div class="body-interaction-content body-interaction-info" data-id="0">
					<div class="interaction-info-label">
						Joining info
					</div>
					<div class="interaction-info-link">
						https://meet.google.com/saw-hyhk-cbx
					</div>
					<div class="interaction-info-copy-link-btn ">
						<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
						<i class="far fa-copy"></i>
						<span>Copy joining info</span>
					</div>
				</div>

				<div class="body-interaction-content body-interaction-people" data-id="1">
					<button type="button" class="body-interaction-add-user" data-toggle="modal" data-target="#exampleModal">
						Invite new users
					</button>
					<div class="interaction-people-search-block">
						<i class="fas fa-search"></i>
						<input type="text" placeholder="Search for people">
					</div>

					<div class="interaction-people-block">
						<h2>In call</h2>
						<ul class="interaction-people-list">
							<!-- <li class="interaction-people-item">
								<div>
									<img src="https://lh3.googleusercontent.com/a/AATXAJxKI9kG7COmDjvrHmOfM9CR3q-51QsnalnPdpBF=s192-c-mo"
										alt="" class="interaction-people-avatar">
									<span class="interaction-people-name">
										Huyền Nguyễn Thị Cẩm (You)
									</span>
								</div>
								<div class="control-icon-wrap">
									<span>Rename</span>
									<div>
										<i class="fas fa-chevron-right"></i>
									</div>
								</div>
							</li> -->

						</ul>
					</div>
				</div>

				<div class="body-interaction-content body-interaction-chatting">
					<div class="interaction-chatting-label">
						Messages can only be seen by people in the call and are deleted when the call ends.
					</div>
					<ul class="interaction-chatting-list-messages" id="message-list-id">
						<!-- <li class="interaction-chatting-message-item">
							<div class="chatting-message-info">
								<div class="chatting-message-username">You</div>
								<div class="chatting-message-time">8:27 PM</div>
							</div>
							<div class="chatting-message-content">
								Đã tạo 1 cuộc bình chọn:
							</div>
							<form class="chatting-message-poll">
								<div class="chatting-poll-title">
									Bài hát nào dưới đây của Sơn Tùng - MTP:
								</div>
								<div class="chatting-poll-answer">
									<label>
										<input type="radio" value="1" name="abc" />
										<span>Từ chối anh nhẹ nhàng thôi Từ chối anh nhẹ nhàng thôi Từ chối anh nhẹ nhàng thôi</span>
										<span>(0 votes)</span>
									</label>
								</div>
								<div class="chatting-poll-answer">
									<label>
										<input type="radio" value="2" name="abc" />
										<span>2PM</span>
									</label>
								</div>
								<div class="chatting-poll-answer">
									<label>
										<input type="radio" value="3" name="abc" />
										<span>Chúng ta không thuộc về nhau</span>
									</label>
								</div>
								<div class="chatting-poll-answer">
									<label>
										<input type="radio" value="4" name="abc" />
										<span>Crying over you</span>
									</label>
								</div>
								<button type="submit" class="float-right chatting-poll-submit-btn">
									Bình chọn
								</button>
							</form>
						</li> -->
					</ul>
					<div class="interaction-chatting-input">
						<form id="message-form-id">
							<div style="display: flex; align-items: center; justify-content: center">
								<div style="width: 15%;">
									<input type="file" name="image" id="chat-image" style="display: none;" accept="*/*">
									<label for="chat-image" class="label-img" style="margin-bottom: 0;">
										<img class="file" src="./assets/images/ph_paperclip-light.svg" alt="">
									</label>
								</div>
								<div style="width: 75%;">
									<input id='chat-input' type="text" name="message" class="message-input"
										placeholder="Send a message to everyone">
								</div>
								<div style="width: 10%;float: right;">
									<button class="btn-send-message" type="submit"><img src="./assets/images/send-message.svg"
											alt=""></button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="body-interaction-content body-interaction-activity">
					<ul class="interaction-activity-list">
						<li class="interaction-activity-item">
							<img
								src="https://www.gstatic.com/meet/google-meet-icons_whiteboard-icon_44ebb90da0e177ad2a47be47dccc81ae.svg"
								alt="">
							<div class="interaction-activity-item-info">
								<span>Whiteboarding</span>
								<span>Collaboratively brainstorm and sketch ideas</span>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	</div>
	<nav class="navbar rounded-0 d-print-none align-items-center control-navbar d-none custom-navbar">
		<div class="room-info d-flex align-items-center">
			<div>
				<img class="image-logo-web" src="./assets/images/logoweb.png" alt="">
			</div>
			<div>
				<!-- <div class="name-web-room">Phòng chat trực tuyến Demo</div> -->
				<div class="time-web-room">10:10</div>
			</div>
		</div>
		<div class="pull-right room-comm room-control-btns " hidden>
			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn" id='toggle-video' title="Hide Video">
				<!-- <i class="fa fa-video text-white"></i> -->
				<img src="assets/images/camera.svg" alt="camera">
			</button>

			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn" id='toggle-mute' title="Mute">
				<!-- <i class="fa fa-microphone-alt text-white"></i> -->
				<img src="assets/images/micro.svg" alt="micro">
			</button>

			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn" id='share-screen' title="Share screen">
				<i class="fa fa-desktop text-white"></i>
				<!-- <img src="./assets/images/present-white.svg" alt="present"> -->

			</button>

			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn " id='record' title="Record">
				<i class="fa fa-dot-circle text-white"></i>
			</button>
			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn " id='qa-btn' title="Q&A">
				<i class="far fa-question-circle text-white"></i>
			</button>
			<div class="room-control-item room-control-btn more-option-btn" title="More option">
				<i class="fas fa-ellipsis-v"></i>
				<div class="sub-menu">
					<ul class="sub-menu-list">
						<li class="sub-menu-item sub-menu-white-board">
							<i class="fas fa-pen"></i>
							<div class="sub-menu-item-text ">
								<div>Whiteboard</div>
								<div>Open a Jam</div>
							</div>
						</li>
						<li class="sub-menu-item sub-menu-full-screen">
							<i class="fas fa-expand"></i>
							<div class="sub-menu-item-text ">
								Full screen
							</div>
						</li>
						<li class="sub-menu-item sub-menu-new-poll" type="button" data-toggle="modal"
							data-target=".create-new-poll-modal">
							<i class="fas fa-poll-h"></i>
							<div class="sub-menu-item-text ">
								Create new poll
							</div>
						</li>
						<!-- <li class="sub-menu-item">
							<img src="./assets/images/background-black.svg" alt="present">
							<div class="sub-menu-item-text">
								Change background
							</div>
						</li>
						<li class="sub-menu-item">
							<i class="far fa-closed-captioning"></i>
							<div class="sub-menu-item-text">
								<div>Captions</div>
								<div>Off</div>
							</div>
						</li> -->
						<!-- <li class="divider"></li>
						<li class="sub-menu-item">
							<img src="./assets/images/report-problem.svg" alt="present">
							<div class="sub-menu-item-text">
								Report a problem
							</div>
						</li>
						<li class="sub-menu-item">
							<img src="./assets/images/report-abuse.svg" alt="present">
							<div class="sub-menu-item-text">
								Report abuse
							</div>
						</li>
						<li class="sub-menu-item">
							<img src="./assets/images/troubleshooting.svg" alt="present">
							<div class="sub-menu-item-text">
								Troubleshooting & help
							</div>
						</li>
						<li class="sub-menu-item">
							<i class="fas fa-cog"></i>
							<div class="sub-menu-item-text">
								Settings
							</div>
						</li> -->
					</ul>
				</div>
			</div>
			<button class="btn btn-sm rounded-0 btn-no-effect room-control-btn text-white active room-control-btn-end-call">
				<a href="/meet" class="text-white text-decoration-none" title="Leave">
					<img src="./assets/images/end-call.svg">
					<!-- <i class="fa fa-sign-out-alt text-white" ></i> -->
				</a>
			</button>

		</div>
		<div class="room-interact-control">
			<div class="room-interact-control-item">
				<i class="fas fa-info-circle"></i>
			</div>
			<div class="room-interact-control-item">
				<i class="fas fa-user-friends"></i>
			</div>

			<div class="room-interact-control-item btn-no-effect pull-right" id='toggle-chat-pane'>
				<i class="fas fa-comment-alt"></i>
				<span class="badge badge-danger very-small font-weight-lighter" id='new-chat-notification' hidden>
					New
				</span>
			</div>
			<div class="room-interact-control-item">
				<i class="fas fa-shapes"></i>
			</div>
		</div>
	</nav>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Invite new users</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="register-error" id="invited-label">
						<i class="fas fa-check"></i>
						<span>Invited</span>
					</div>
					<input class="addUserInput" placeholder="Enter user's email" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="addUserBtn">Invite</button>
				</div>
			</div>
		</div>
	</div>

	<button hidden type="button" class="btn btn-primary" data-toggle="modal" id="rename-modal"
		data-target="#renameModal"></button>

	<div class="modal fade" tabindex="-1" id="renameModal" role="dialog" aria-labelledby="renameModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Enter a new screen name:</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="renameInput" placeholder="Enter new username" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="renameCancelBtn" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="renameBtn">Rename</button>
				</div>
			</div>
		</div>
	</div>

	<button hidden type="button" id="notificationModalBtn" class="btn btn-primary" data-toggle="modal"
		data-target="#notificationModal">
	</button>

	<!-- Modal -->
	<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModal"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none !important;">
					<h5 class="modal-title" id="exampleModalLabel">The host has turned off your micro</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer" style="border-top: none !important;">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal create new poll -->
	<div class="modal fade create-new-poll-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create new poll</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="create-poll-form" action="#" method="">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label"><b>Title:</b></label>
							<input type="text" class="form-control" id="poll-content" name="title">
						</div>
						<div>
							<label for="message-text" class="col-form-label"><b>Poll:</b></label>
						</div>
						<div class="form-group poll-input-block">
							<input type="text" class="form-control" name="poll[]" placeholder="Enter poll content">
							<i class="fas fa-times remove-poll-btn"></i>
						</div>
						<div class="form-group add-poll-answer-block">
							<i class="fas fa-plus add-new-poll-btn"></i>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="create-poll-btn">Create</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
	<script src='/socket.io/socket.io.js'></script>
	<script type="module" src='assets/js/rtc.js'></script>
	<script type="module" src='assets/js/events.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"
		integrity="sha256-2qQheewaqnZlXJ3RJRghVUwD/3fD9HNqxh4C+zvgmF4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js'></script>
	<script src='https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.js'></script>
	<script src='/assets/js/autolink.js'></script>
	<script type="module" src='/assets/js/custom.js'></script>
</body>

</html>